/* estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #202024;
    height: 100vh;
}

/* Barra de rolagem */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #010101;
}

::-webkit-scrollbar-thumb {
    cursor: grab;
    background-color: #7465D4;
    border-radius: 8px;
}

/* interface e titulo */

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #7465D4;
}

/* estilo do cabecalho */

header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: #7465D4;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

/* estilo do menu de mobile */

.btn-abrir-menu {
    display: none;
    cursor: pointer;
}

.btn-abrir-menu i {
    color: #7465D4;
    font-size: 40px;
}

.menu-mobile {
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile.abrir-menu~.overlay-menu {
    display: block;
}


.menu-mobile .btn-fechar {
    padding: 20px 5%;
    cursor: pointer;
}

.menu-mobile .btn-fechar i {
    color: #7465D4;
    font-size: 30px;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: #7465D4;
    color: #000;
}

.overlay-menu {
    background-color: #000000df;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/* estilo de topo do site */
section.topo-do-site {
    padding: 124px 4%
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;

}

.topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #7465D4;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}


@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* estilo do sobre */

section.sobre {
    padding: 80px 4%;
    box-shadow: 0 0 50px 1px #ffffff1d;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #7465D4;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

/* estilo btn das redes sociais */

.btn-social {
    justify-content: center;
    align-items: center;
}

.btn-social a {
    margin: 5px;
    display: inline-block;
    text-decoration: none;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.4s;
}

.btn-social button:hover {
    opacity: 0.8;
}

.btn-social .bi-instagram,
.btn-social .bi-linkedin,
.btn-social .bi-github,
.btn-social .bi-whatsapp {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    border-radius: 50%;
}

/* Instagram */
.btn-social .bi-instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

/* github */
.btn-social .bi-github {
    background-color: #000;
}

/* LinkedIn */
.btn-social .bi-linkedin {
    background-color: #0e76a8;
}

/* whatsapp */

.btn-social .bi-whatsapp {
    background-color: #25D366;
}

/* habilidades */

section.habilidades {
    padding: 80px 4%;
}

section.habilidades .flex {
    gap: 60px;
}

.habilidades .habilidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.habilidades .habilidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}

.habilidades .habilidades-box i {
    font-size: 70px;
    color: #7465D4;
}

.habilidades .habilidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* estilo especialidades */
section.especiliadades {
    padding: 80px 4%;
    box-shadow: 0 0 50px 1px #ffffff1d;
}

section.especiliadades .flex {
    gap: 60px;
}

.especiliadades .especialidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especiliadades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}

.especiliadades .especialidades-box i {
    font-size: 70px;
    color: #7465D4;
}

.especiliadades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* estilo do portfolio / projetos */

section.portfolio {
    padding: 80px 4%;
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}